Repository amosproj/amos2024ss04-building-information-enhancer, pull requests merged in 2024-05, with the labels that each got.

#53 Folder for sprint-02 and Planning Document has been added to Deliverables
  Deliverables/sprint-02/feature-board.jpg
  Deliverables/sprint-02/feature-board.tsv
  Deliverables/sprint-02/planning-documents.pdf
  Deliverables/sprint-02/software-architecture.pdf
Labels: organizational

#107 Backend DB Dockerfile
  backend/database/Dockerfile
  backend/database/entrypoint.sh
  backend/database/run-script.sh
  backend/database/scripts/CreateDB.sql
  backend/docker-compose.yml
  backend/src/BIE.DataPipeline/Dockerfile
  backend/src/BIE.DataPipeline/entrypoint.sh
Labels: backend

#110 Added basic FE structure + multimap component
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.svg
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/dataview/dataview.css
  frontend/src/components/dataview/dataview.tsx
  frontend/src/components/multimap/multimap.css
  frontend/src/components/multimap/multimap.tsx
  frontend/src/index.css
Labels: frontend

#106 DataView finished
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/DataView/DataBox.tsx
  frontend/src/components/DataView/FilterBar.tsx
  frontend/src/components/DataView/KeyValuesList.tsx
  frontend/src/components/DataViewOld/dataview.css
  frontend/src/components/DataViewOld/dataview.tsx
  frontend/src/index.css
Labels: frontend

#108 Basic MapView + Favorite Places/Searches Dialog
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/MapView.tsx
  frontend/src/SearchWithFavoritesDlg.tsx
  frontend/src/TestAreaLn.tsx
Labels: frontend

#140 Backend datapipeline initial db connection
  backend/src/BIE.DataPipeline/Import/CsvImporter.cs
  backend/src/BIE.DataPipeline/Import/YamlImporter.cs
  backend/src/BIE.DataPipeline/Program.cs
  backend/src/BIE.DataPipeline/yaml/test.yaml
Labels: bug, backend

#148 Search by coordinates and autocomplete locations
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DataView/DataPanel.tsx
  frontend/src/components/PopUp/SearchPopUp.tsx
  frontend/src/contexts/SearchContext.tsx
Labels: frontend

#174 Frontend - Polishing part 1
  frontend/public/bci_logo.png
  frontend/public/codeing-logo.png
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Alerts/Alerts.css
  frontend/src/components/Alerts/ErrorAlert.tsx
  frontend/src/components/DataView/DataView.tsx
  frontend/src/components/DatasetsList/DatasetsList.css
  frontend/src/components/DatasetsList/DatasetsList.tsx
  frontend/src/components/MainMenu/MainMenu.css
  frontend/src/components/MainMenu/MainMenu.tsx
  frontend/src/components/MapView/DataFetch.tsx
  frontend/src/components/MultiMap/MultiMap.css
  frontend/src/components/MultiMap/MultiMap.tsx
  frontend/src/components/MultiMap/NewTabButton.tsx
  frontend/src/components/PopUp/DatasetsPopUp.tsx
  frontend/src/components/PopUp/PopUp.tsx
  frontend/src/contexts/AlertContext.tsx
  frontend/src/contexts/TabsContext.tsx
  frontend/src/index.css
  frontend/src/main.tsx
Labels: frontend
