Repository amosproj/amos2024ss04-building-information-enhancer, pull requests merged in 2024-07, with the labels that each got.

#349 Search bar + layer controls
  frontend/public/aerial_view.png
  frontend/public/normal_view.png
  frontend/public/satellite_view.png
  frontend/src/components/MapView/MapOptions.css
  frontend/src/components/MapView/MapOptions.tsx
  frontend/src/components/MapView/MapView.tsx
  frontend/src/components/PopUp/SearchBar.tsx
  frontend/src/components/SearchBar/SearchBar.css
  frontend/src/components/SearchBar/SearchBar.tsx
Labels: frontend

#348 GMLCity Importer
  backend/src/BIE.DataPipeline/DbHelper.cs
  backend/src/BIE.DataPipeline/Import/CityGmlImporter.cs
  backend/src/BIE.DataPipeline/Program.cs
  backend/src/BIE.DataPipeline/yaml/common/building_models.yaml
  backend/src/BIE.DataPipeline/yaml/production/building_models_fauTechFak.yaml
Labels: backend

#364 Frontend - Polishing up before release
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DataView/DataPanel.tsx
  frontend/src/components/DataView/DataView.css
  frontend/src/components/DataView/DataView.tsx
  frontend/src/components/DatasetsList/DatasetsList.tsx
  frontend/src/components/MapView/BackgroundMaps/AerialMap.tsx
  frontend/src/components/MapView/BackgroundMaps/NormalMap.tsx
  frontend/src/components/MapView/BackgroundMaps/ParcelMap.tsx
  frontend/src/components/MapView/BackgroundMaps/SatelliteMap.tsx
  frontend/src/components/MapView/GeoDataFetcher.tsx
  frontend/src/components/MapView/LeafletMap.css
  frontend/src/components/MapView/LeafletMap.tsx
  frontend/src/components/MapView/MapEventsHandler.tsx
  frontend/src/components/MapView/MapOptions.css
  frontend/src/components/MapView/MapOptions.tsx
  frontend/src/components/MapView/MapView.css
  frontend/src/components/MapView/MapView.tsx
  frontend/src/components/MultiMap/MultiMap.css
  frontend/src/components/MultiMap/NewTabButton.css
  frontend/src/components/MultiMap/NewTabButton.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/contexts/MapContext.tsx
  frontend/src/contexts/TabsContext.tsx
  frontend/src/services/locationDataService.ts
  frontend/src/types/MapSelectionTypes.tsx
Labels: frontend

#345 Updated Load location data API
  backend/api-gateway/Models/LocationData.cs
  backend/src/BIE.Core/BIE.Core.API/ApiHelper.cs
  backend/src/BIE.Core/BIE.Core.API/BIE.Core.API.csproj
  backend/src/BIE.Core/BIE.Core.API/Controllers/DatasetController.cs
  backend/src/BIE.Core/BIE.Core.API/Properties/launchSettings.json
  frontend/src/components/DataView/DataPanel.tsx
  frontend/src/components/DataView/DataView.css
  frontend/src/components/DataView/DataView.tsx
  frontend/src/services/locationDataService.ts
  frontend/src/types/LocationDataTypes.tsx
Labels: backend

#372 CityGML data extraction
  backend/metadata-database/init-db.js
  backend/src/BIE.DataPipeline/DbHelper.cs
  backend/src/BIE.DataPipeline/Import/CityGmlImporter.cs
  backend/src/BIE.DataPipeline/Program.cs
  backend/src/BIE.DataPipeline/building_models.py
  backend/src/BIE.DataPipeline/yaml/common/building_models.yaml
  backend/src/BIE.DataPipeline/yaml/common/building_models_646_5492.yaml
  backend/src/BIE.DataPipeline/yaml/production/building_models_fauTechFak.yaml
Labels: backend

#394 Frontend - Map markers update
  backend/lib/BieMetadata/MetadataObject.cs
  backend/metadata-database/init-db.js
  frontend/src/components/MapView/MapDatasetVisualizer.tsx
  frontend/src/components/MapView/MapEventsHandler.css
  frontend/src/components/MapView/MapEventsHandler.tsx
  frontend/src/components/MapView/MapOptions.tsx
  frontend/src/types/DatasetTypes.tsx
  frontend/src/utils/mergeIcons.ts
Labels: frontend

#395 Frontend - Map markers update
  backend/lib/BieMetadata/MetadataObject.cs
  backend/metadata-database/init-db.js
  frontend/src/components/MapView/MapDatasetVisualizer.tsx
  frontend/src/components/MapView/MapEventsHandler.css
  frontend/src/components/MapView/MapEventsHandler.tsx
  frontend/src/components/MapView/MapOptions.tsx
  frontend/src/types/DatasetTypes.tsx
  frontend/src/utils/mergeIcons.ts
Labels: frontend

#399 Dataset handler extension
  backend/api-gateway/Controllers/APIGatewayController.cs
  backend/api-gateway/Models/LocationData.cs
  backend/lib/BieMetadata/MetadataDbHelper.cs
  backend/lib/BieMetadata/MetadataObject.cs
  backend/src/BIE.Core/BIE.Core.API/ApiHelper.cs
  backend/src/BIE.Core/BIE.Core.API/BIE.Core.API.csproj
  backend/src/BIE.Core/BIE.Core.API/BIE.Core.API.xml
  backend/src/BIE.Core/BIE.Core.API/Controllers/DatasetController.cs
  backend/src/BIE.Core/BIE.Core.API/DatasetHandlers/CsvDatasetHandler.cs
  backend/src/BIE.Core/BIE.Core.API/DatasetHandlers/ShapeDatasetHandler.cs
  backend/src/BIE.Core/BIE.Core.API/LoadLocationHelper.cs
  backend/src/BIE.Core/BIE.Core.API/Properties/launchSettings.json
  backend/src/BIE.DataPipeline/DbHelper.cs
  backend/src/BIE.DataPipeline/Import/CityGmlImporter.cs
  backend/src/BIE.DataPipeline/Import/CsvImporter.cs
  backend/src/BIE.DataPipeline/Import/IImporter.cs
  backend/src/BIE.DataPipeline/Import/ShapeImporter.cs
  backend/src/BIE.DataPipeline/Program.cs
  backend/src/BIE.DataPipeline/Properties/launchsettings.json
Labels: bug, backend

#392 Frontend - 3D View, Data view and bugs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/DataView/DataPanel.css
  frontend/src/components/DataView/DataPanel.tsx
  frontend/src/components/DataView/DataRow.css
  frontend/src/components/DataView/DataRow.tsx
  frontend/src/components/DataView/DataView.css
  frontend/src/components/DataView/DataView.tsx
  frontend/src/components/MapView/LeafletMap.css
  frontend/src/components/MapView/LeafletMap.tsx
  frontend/src/components/MapView/MapOptions.css
  frontend/src/components/MapView/MapOptions.tsx
  frontend/src/components/MapView/MapView.tsx
  frontend/src/components/MultiMap/MultiMap.css
  frontend/src/components/MultiMap/MultiMap.tsx
  frontend/src/components/SearchBar/SearchBar.tsx
  frontend/src/components/ThreeDView/ThreeDView.tsx
  frontend/src/contexts/MapContext.tsx
  frontend/src/contexts/TabsContext.tsx
  frontend/src/types/LocationDataTypes.tsx
  frontend/src/types/MapTypes.tsx
Labels: bug, frontend

#393 Backend - Dataview Rework and bug fixes
  backend/metadata-database/init-db.js
  backend/src/BIE.Core/BIE.Core.API/Controllers/DatasetController.cs
  backend/src/BIE.Core/BIE.Core.API/LoadLocationHelper.cs
  backend/src/BIE.DataPipeline/Program.cs
  frontend/src/components/DataView/DataRow.tsx
  frontend/src/components/DataView/DataView.tsx
  frontend/src/types/LocationDataTypes.tsx
Labels: backend

#402 Ingest air pollutants dataset
  backend/metadata-database/init-db.js
  backend/src/BIE.Core/BIE.Core.API/DatasetHandlers/CsvDatasetHandler.cs
  backend/src/BIE.DataPipeline/DbHelper.cs
  backend/src/BIE.DataPipeline/Program.cs
  backend/src/BIE.DataPipeline/yaml-data/air_pollutants.csv
  backend/src/BIE.DataPipeline/yaml/common/air_pollutants.yaml
Labels: backend

#403 Extracted more CityGml data Issue#386 Issue#356
  backend/src/BIE.DataPipeline/DbHelper.cs
  backend/src/BIE.DataPipeline/Import/CityGmlImporter.cs
  backend/src/BIE.DataPipeline/Program.cs
Labels: backend

#407 Polygon fixes
  backend/src/BIE.Core/BIE.Core.API/LoadLocationHelper.cs
  backend/src/BIE.DataPipeline/DbHelper.cs
  backend/src/BIE.DataPipeline/Import/ShapeImporter.cs
  frontend/src/components/SearchBar/SearchBar.tsx
Labels: frontend, backend

#406 Ingest air pollutants dataset
  backend/metadata-database/init-db.js
  backend/src/BIE.Core/BIE.Core.API/DatasetHandlers/CsvDatasetHandler.cs
  backend/src/BIE.Core/BIE.Core.API/LoadLocationHelper.cs
  backend/src/BIE.DataPipeline/yaml-data/air_pollutants.csv
  backend/src/BIE.DataPipeline/yaml/common/air_pollutants.yaml
Labels: backend
