Repository amosproj/amos2024ss04-building-information-enhancer, pull requests merged in 2024-06, with the labels that each got.

#224 Frontend polishing - part 1
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/DatasetsList/DatasetsList.tsx
  frontend/src/components/MapView/DataFetch.tsx
  frontend/src/components/MapView/MapEventsHandler.tsx
  frontend/src/components/MapView/MapOptions.css
  frontend/src/components/MapView/MapOptions.tsx
  frontend/src/components/MapView/MapView.tsx
  frontend/src/components/MultiMap/MultiMap.css
  frontend/src/components/MultiMap/MultiMap.tsx
  frontend/src/components/MultiMap/TabOptions.css
  frontend/src/components/MultiMap/TabOptions.tsx
  frontend/src/components/PopUp/DatasetsPopUp.tsx
  frontend/src/components/PopUp/PopUp.css
  frontend/src/components/PopUp/PopUp.tsx
  frontend/src/components/PopUp/SearchPopUp.tsx
  frontend/src/components/PopUp/TabInfoPopUp.css
  frontend/src/components/PopUp/TabInfoPopup.tsx
Labels: frontend

#226 New Search Bar + Fly To works
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MapView/MapOptions.css
  frontend/src/components/MapView/MapOptions.tsx
  frontend/src/components/PopUp/SearchBar.tsx
  package-lock.json
Labels: frontend

#229 Frontend - Dataview rework
  frontend/src/App.css
  frontend/src/components/DataView/DataPanel.css
  frontend/src/components/DataView/DataPanel.tsx
  frontend/src/components/DataView/DataView.css
  frontend/src/components/DataView/DataView.tsx
  frontend/src/components/DataView/LoadDataButton.tsx
  frontend/src/components/MapView/MapEventsHandler.tsx
  frontend/src/contexts/MapContext.tsx
  frontend/src/contexts/SearchContext.tsx
Labels: frontend

#230 Frontend - Cleanup map
  frontend/src/components/DataView/DataView.tsx
  frontend/src/components/MapView/MapOptions.tsx
  frontend/src/components/MapView/MapView.tsx
Labels: frontend

#227 Extend API Endpoints for Hausumringe
  backend/src/BIE.Core/BIE.Core.API/BIE.Core.API.xml
  backend/src/BIE.Core/BIE.Core.API/Controllers/DatasetController.cs
Labels: backend

#231 Search Bar polished
  frontend/src/components/PopUp/SearchBar.tsx
  frontend/src/contexts/SearchContext.tsx
Labels: frontend

#233 Search supports areas
  frontend/src/components/PopUp/SearchBar.tsx
  frontend/src/components/PopUp/SearchPopUp.tsx
  frontend/src/contexts/SearchContext.tsx
Labels: frontend

#260 Backend Architecture Rework - API Gateway
  .env
  .env.production
  .env.test
  .github/workflows/deploy_production.yml
  .github/workflows/deploy_test.yml
  backend/api-gateway/.dockerignore
  backend/api-gateway/APIGateway.csproj
  backend/api-gateway/Controllers/APIGatewayController.cs
  backend/api-gateway/Dockerfile
  backend/api-gateway/Models/GeoJsonResponse.cs
  backend/api-gateway/NuGet.config
  backend/api-gateway/Program.cs
  backend/api-gateway/Startup.cs
  backend/api-gateway/appsettings.Development.json
  backend/api-gateway/appsettings.json
  backend/metadata-database/Dockerfile
  backend/metadata-database/init-db.js
  backend/sql-database/Dockerfile
  backend/sql-database/entrypoint.sh
  backend/sql-database/run-script.sh
  backend/sql-database/scripts/CreateDB.sql
  backend/src/BIE.Core/BIE.Core.API/Startup.cs
  docker-compose.yml
Labels: backend, devops

#255 Tab change bug, DataView show/hide, bold titles
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/DataView/DataPanel.css
  frontend/src/components/DataView/DataView.css
  frontend/src/components/MultiMap/MultiMap.css
  frontend/src/components/MultiMap/MultiMap.tsx
  frontend/src/components/MultiMap/TabOptions.tsx
Labels: frontend

#264 Added endpoint for clustered data
  backend/src/BIE.Core/BIE.Core.API/BIE.Core.API.csproj
  backend/src/BIE.Core/BIE.Core.API/BIE.Core.API.xml
  backend/src/BIE.Core/BIE.Core.API/Controllers/DatasetController.cs
Labels: backend

#266 Fixed local FE dev server not working for the newest URL changes
  frontend/src/components/MapView/DataFetch.tsx
Labels: frontend

#268 New Api Endpoints
  backend/api-gateway/APIGateway.sln
  backend/api-gateway/Controllers/APIGatewayController.cs
  backend/api-gateway/Models/DatasetListResponse.cs
  backend/api-gateway/Models/DatasetMetadata.cs
  backend/api-gateway/Models/GeoJsonResponse.cs
  backend/api-gateway/Models/LocationData.cs
  backend/api-gateway/Models/MockData.cs
  frontend/src/components/DataView/DataView.tsx
  frontend/src/components/DatasetsList/DatasetTypes.tsx
  frontend/src/components/DatasetsList/DatasetsList.tsx
  frontend/src/components/MapView/DataFetch.tsx
  frontend/src/components/MapView/FeatureCollection.json
  frontend/src/components/MapView/MapView.tsx
  frontend/src/components/MapView/bayernatlas.json
  frontend/src/components/MapView/gemeinden_simplify20.json
  frontend/src/components/MapView/output.json
  frontend/src/components/MapView/output1000.json
  frontend/src/utils.tsx
Labels: frontend, backend

#256 Product owners deliverables
  .github/ISSUE_TEMPLATE/technical_task.md
  Deliverables/sprint-07/feature-board.jpg
  Deliverables/sprint-07/feature-board.tsv
  Deliverables/sprint-07/planning-documents.pdf
Labels: organizational

#267 Display polygon for specific region
  frontend/src/components/MapView/MapEventsHandler.tsx
  frontend/src/components/PopUp/SearchBar.tsx
  frontend/src/contexts/MapContext.tsx
  frontend/src/contexts/SearchContext.tsx
Labels: frontend

#295 Moved metadata to the MongoDB
  .env
  .env.production
  .env.test
  backend/api-gateway/APIGateway.csproj
  backend/api-gateway/Controllers/APIGatewayController.cs
  backend/api-gateway/Models/DatasetBasicData.cs
  backend/api-gateway/Models/DatasetData.cs
  backend/api-gateway/Models/DatasetMetadata.cs
  backend/api-gateway/Models/MockData.cs
  backend/api-gateway/Services/MongoDBService.cs
  backend/api-gateway/Startup.cs
  backend/metadata-database/Dockerfile
  backend/metadata-database/init-db.js
  docker-compose.yml
Labels: backend

#293 Unittests and code cleanup
  backend/src/BIE.DataPipeline/BIE.DataPipeline.csproj
  backend/src/BIE.DataPipeline/Import/CsvImporter.cs
  backend/src/BIE.DataPipeline/Import/YamlImporter.cs
  backend/src/BIE.DataPipeline/entrypoint.sh
  backend/src/BIE.DataPipeline/yaml/unitTest.yaml
  backend/src/BIE.DataPipeline/yaml/unitTestShort.yaml
  backend/src/BIE.Tests/CsvImporterTest.cs
  backend/src/BIE.Tests/ImporterHelperTest.cs
  backend/src/BIE.Tests/YamlImporterTest.cs
  backend/src/BIE.Tests/testData/unitTest.csv
Labels: backend

#299 Added Indexes
  backend/src/BIE.DataPipeline/DbHelper.cs
  backend/src/BIE.DataPipeline/Program.cs
Labels: backend

#300 234 create api endpoint for single location
  backend/api-gateway/Controllers/APIGatewayController.cs
  backend/api-gateway/Models/LocationData.cs
  backend/src/BIE.Core/BIE.Core.API/BIE.Core.API.xml
  backend/src/BIE.Core/BIE.Core.API/Controllers/DatasetController.cs
  backend/src/BIE.Core/BIE.Core.DBRepository/DBHelper.cs
  backend/src/BIE.Core/BIE.Data/DatabaseConnection.cs
Labels: backend
